
/* ---------------------------------------- */

/* página monitor.html */

html, body {
    /* overflow: hidden; */
}

.container-monitor {
    width: 100%;
    height: 100%;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
}

main {
    border: 1px solid red;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .card-esquerda{
    color: #0c5332;
    height: 90%;
    width: 80%;
    /* margin: 50px 10px 0px 50px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card-esquerda-guiche, .card-esquerda-senha {
    background: #F7F7F7;
    border-radius: 10px;
    height: 45%;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
}

.card-esquerda-guiche h1, .card-esquerda-senha h1{
    font-size: 12em;
    margin-top: 5%;
    padding: 0;
}
.card-esquerda-guiche h2, .card-esquerda-senha h2{
    position: absolute;
    font-size: 2.5em;
    margin-top: 10px;
    padding: 0;
}

/* .card-esquerda-senha {
    background: #F7F7F7;
    border-radius: 10px;
    height: 45%;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} */

main .card-direita {
    color: #0c5332;
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-direita-chamadas {
    padding: 12px 10%;
    background: #F7F7F7;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 95%;
    width: 95%;
}

.card-direita-chamadas .fichas-chamadas {
    display: flex;
    justify-content: space-between;
}

.card-direita-chamadas .fichas-chamadas p {
    font-size: 2em;
    font-weight: bold;
}

.card-direita-chamadas h2 {
    text-align: center;
}