* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #248745 url(../img/fundo.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/* conteúdo principal */

.container {
    margin-top: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* card login */

.card-login {
    background: #F7F7F7;
    width: 370px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-login img {
    width: 200px;
    padding-top: -50px;
    padding-bottom: 30px;
}

.card-login form {
    display: flex;
    flex-direction: column;
}

.card-login button {
    margin-top: 15px;
    background-color: #189E47;
}

.card-login button:hover {
    background-color: #248745;
}

.card-login .input-group-text img {
    width: 1.5em;
    padding: 0;
}


/* página chamar-senha.html */

.container2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}


header {
    background: #F7F7F7;
    height: 70px;
    width: 100%;
}



/* card chamar-senha */

/* usar espaçamento diferente do display flex, com espaço entre os itens */
.card-chamar-senha {
    background: #F7F7F7;
    width: 600px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 8%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* tirar essa imagem e colocar no topo/header */
.card-chamar-senha img {
    width: 200px;
}

.card-chamar-senha button {
    border: 1px solid white;
}

.card-chamar-senha span {
    padding: 0;
    margin: 0;
}

.card-chamar-senha .card-senha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-chamar-senha .card-senha h1 {
    font-size: 10em;
}