body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: #248745 url(../../img/fundo.png);
} 

#logo {
  width: 300px;
}

#main-container,
#details-container {
  width: 80%;
  max-width: 600px;
  text-align: center;
  padding: 10px;
}

#details-container {
  background-color: white;
  border-radius: 5px;
  max-width: 500px;
}

.guiche {
  background-color: #f0f0f0;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.guiche:hover {
  background-color: #c8c8c8;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
