
/* ---------------------------------------- */

/* página monitor.html */

/* html, body {
     overflow: hidden; 
} */

.container-monitor {
    width: 100%;
    height: 100%;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
}

main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
